body {
    font-family: '8BIT WONDER', sans-serif;
    background-color: #1f1f1f;
    padding: 20px;
  }
  
  h1 {
    color: #ffffff;
    text-align: center;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  select, input[type="number"], input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #6d4197;
  }

  #search-results {
    background-image: url('https://cdn.pixabay.com/photo/2021/03/12/21/02/bubbles-6092162_1280.jpg');
    background-repeat: repeat;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .game-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .game-row img {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
  }
  
  .game-row h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .game-row p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .game-row a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .game-row a:hover {
    background-color: #ff7777;
  }
  