body {
    font-family: monospace;
    background-color: #ffffff;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }

  h2 {
    color: #252525;
    text-align: center;
    font-family: monospace;
    padding: 10px 20px;
    word-spacing: 5px;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  select, input[type="number"], input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #ff7575;
  }

  #search-results {
    margin-top: 20px;
    font-size: 16px;
  }